[submodule "flathub"]
	path = flathub
	url = https://github.com/renakome/flathub.git
[submodule "musily_installer"]
	path = musily_installer
	url = https://github.com/renakome/libraudio_installer.git
